a.logo {
    display: block;
    height: 30px;
    width: 110px;
    border: 1px solid black;
}

a.britishairways {
    background-image: url(http://www.koltsovo.ru/attels/logo4site/59.gif);
}

a.s7 {
    background-image: url(http://www.koltsovo.ru/attels/logo4site/390.gif);
}

a.aeroflot {
    background-image: url(http://www.koltsovo.ru/attels/logo4site/397.gif);
}

a.uralairlines {
    background-image: url(http://www.koltsovo.ru/attels/logo4site/416.gif);
}

a.airfrance {
    background-image: url(http://www.koltsovo.ru/attels/logo4site/2251.gif);
}

a.utair {
    background-image: url(http://www.koltsovo.ru/attels/logo4site/515.gif);
}

#timetable {
    border: solid #ff4900 1px;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 150px 0 150px;
    overflow: hidden;
}

#timetable thead tr {
    background: #006c8b;
}

#timetable tbody tr {
    color: #000000;
}

#timetable tr td:after {
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -2;
}

#timetable td, #timetable th {
    text-align: center;
    border: none;
    position: relative;
    padding: 0.3em;
}

tr:nth-child(even) td:after {
    background: #579dfa;
}

tr:nth-child(odd) td:after {
    background: #db7093;
}

#timetable tr:hover:not(.timetable-header) {
    background-color: #cd4c4c;
}

#timetable td:hover::after,
#timetable th:hover::after {
    content: "";
    position: absolute;
    background-color: #cd4c4c;
    left: 0;
    top: -50em;
    height: 100em;
    width: 100%;
    z-index: -1;
}

input {
    width: 300px;
    margin-bottom: 20px;
    font-size: 30px;
}

input[type="tel"]:valid,
input[type="email"]:valid {
    background: #98fb98;
}

input[type="tel"]:invalid,
input[type="email"]:invalid {
    background: #ffc4be;
}

#send-info {
    border: 1px solid;
    width: 400px;
    padding: 10px;
    margin: 30px 10px 400px 450px;
    text-align: center;
}

#send-info label {
    font-size: 30px;
}
